.heatmap__item {
    width: 80px;
    height: 40px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.heatmap {
    display: flex;
}
.heatmap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.heatmap__time, .heatmap__data_list{
    display: flex;
}
